{
  "openapi": "3.1.0",
  "info": {
    "title": "conForm delivery API",
    "version": "1.0.0",
    "summary": "Form-to-email endpoints with no account requirement.",
    "description": "conForm by Centrst turns one POST into a permanent form endpoint that delivers submissions to a verified inbox. No API key or signup is required. The only human step: the destination inbox must confirm a verification email before delivery starts — poll the route status until `status` is `active`; the endpoint URL never changes while pending. Every response is JSON (except the HTML verification page); every failure carries a stable `error` code from `x-conform-error-codes` plus a `retryable` flag. Submissions are never stored: fields exist in Worker memory only for the duration of delivery. Self-hosted deployments of the open-source Worker expose this same API at their own origin.",
    "license": { "name": "MIT", "identifier": "MIT" }
  },
  "servers": [
    {
      "url": "https://api.conform.centrst.com",
      "description": "conForm hosted by Centrst. Self-hosted Workers serve the same paths at their own origin."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "operationId": "getServiceDescriptor",
        "summary": "Service discovery descriptor",
        "description": "Machine-readable description of this deployment: API version, source commit, delivery mode, storage/privacy posture, and the URL of this specification.",
        "responses": {
          "200": {
            "description": "Service descriptor.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Discovery" } }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "operationId": "getHealth",
        "summary": "Health check",
        "description": "Identical to `GET /`.",
        "responses": {
          "200": {
            "description": "Service descriptor.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Discovery" } }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "operationId": "getOpenApi",
        "summary": "This specification",
        "responses": {
          "200": {
            "description": "The OpenAPI document.",
            "content": { "application/json": { "schema": { "type": "object" } } }
          }
        }
      }
    },
    "/.well-known/conform.json": {
      "get": {
        "operationId": "getWellKnown",
        "summary": "Discovery document (well-known location)",
        "description": "Identical to `GET /`.",
        "responses": {
          "200": {
            "description": "Service descriptor.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/Discovery" } }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "operationId": "getLlmsTxt",
        "summary": "Plain-text API summary for language models",
        "responses": {
          "200": { "description": "Compact API contract as text.", "content": { "text/plain": {} } }
        }
      }
    },
    "/v1/install": {
      "get": {
        "operationId": "getGenericInstallCode",
        "summary": "Generic install artifact",
        "description": "Ready-to-install, accessible form code with a `{{FORM_ENDPOINT}}` placeholder — for previews, documentation, and drift checks. Use `/v1/routes/{formId}/install` for code with the real endpoint baked in.",
        "parameters": [
          { "$ref": "#/components/parameters/FrameworkParam" },
          { "$ref": "#/components/parameters/RawParam" }
        ],
        "responses": {
          "200": {
            "description": "Install artifact (or raw file content with `raw=1`).",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InstallArtifact" } },
              "text/plain": {}
            }
          },
          "400": {
            "description": "`unknown_framework` — the message lists valid values.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      }
    },
    "/v1/routes/{formId}/install": {
      "get": {
        "operationId": "getInstallCode",
        "summary": "Personalized install artifact",
        "description": "The same accessible form code with this route's real endpoint baked in, plus the route's current status and `next_action`. The `test_command` submits a `_test`-marked submission for delivery proof.",
        "parameters": [
          { "$ref": "#/components/parameters/FormId" },
          { "$ref": "#/components/parameters/FrameworkParam" },
          { "$ref": "#/components/parameters/RawParam" }
        ],
        "responses": {
          "200": {
            "description": "Install artifact (or raw file content with `raw=1`).",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/InstallArtifact" } },
              "text/plain": {}
            }
          },
          "400": {
            "description": "`unknown_framework`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "404": {
            "description": "`route_not_found`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      }
    },
    "/v1/routes/{formId}/keys": {
      "get": {
        "operationId": "listRouteAccessKeys",
        "summary": "List a route's access keys",
        "description": "Each live key by label and state. Key values are returned only when minted, and are stored only as HMACs.",
        "parameters": [
          { "$ref": "#/components/parameters/FormId" },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "`Bearer <rotation_token>` or `Bearer <management_token>`"
          }
        ],
        "responses": {
          "200": {
            "description": "Live keys.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "form_id", "require_key", "keys"],
                  "properties": {
                    "success": { "const": true },
                    "form_id": { "type": "string" },
                    "require_key": { "type": "boolean" },
                    "keys": { "type": "array", "items": { "$ref": "#/components/schemas/AccessKey" } }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`rotation_token_required`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "403": {
            "description": "`rotation_token_invalid`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "404": {
            "description": "`route_not_found`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      },
      "post": {
        "operationId": "mintRouteAccessKey",
        "summary": "Mint an access key",
        "description": "Mints a key and returns its value once. Intended to run in CI on every build, so a key harvested from a published page goes stale at the next deploy with nobody intervening. The key it replaces stays valid until this one is first accepted on a submission — not on a timer — so a build that mints and then fails to deploy leaves the live form working. An access key is not proof of origin: inlined into a public page it is as public as the endpoint URL beside it. Its value is that rotating it is free, and that a caller posting from its own backend can keep it out of the page entirely.",
        "parameters": [
          { "$ref": "#/components/parameters/FormId" },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "`Bearer <rotation_token>` or `Bearer <management_token>`"
          }
        ],
        "responses": {
          "201": {
            "description": "Key minted. The value appears here and nowhere else.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "form_id", "key", "key_id", "keys"],
                  "properties": {
                    "success": { "const": true },
                    "form_id": { "type": "string" },
                    "key": {
                      "type": "string",
                      "description": "Send as the `access_key` field. Returned only here."
                    },
                    "key_id": { "type": "string" },
                    "require_key": { "type": "boolean" },
                    "keys": { "type": "array", "items": { "$ref": "#/components/schemas/AccessKey" } },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`rotation_token_required`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "403": {
            "description": "`rotation_token_invalid`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "404": {
            "description": "`route_not_found`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "429": {
            "description": "`rate_limited`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      }
    },
    "/v1/routes/{formId}/settings": {
      "post": {
        "operationId": "updateRouteSettings",
        "summary": "Update route enforcement settings",
        "description": "Turns access-key enforcement on or off. Off by default: while off a missing or wrong key still delivers, so a route can mint keys and ship them before it starts refusing anything. Requires at least one live key before it can be turned on, since turning it on with none would stop the form dead.",
        "parameters": [
          { "$ref": "#/components/parameters/FormId" },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "`Bearer <management_token>`"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "require_key": {
                    "type": "boolean",
                    "description": "Refuse submissions without a recognised access key."
                  },
                  "schema": {
                    "description": "Attach a declared shape, or `null` to clear one. Requires conForm+ on the destination inbox; a schema already attached keeps being enforced if a plan later lapses.",
                    "oneOf": [{ "$ref": "#/components/schemas/FormSchema" }, { "type": "null" }]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Settings updated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "form_id", "require_key"],
                  "properties": {
                    "success": { "const": true },
                    "form_id": { "type": "string" },
                    "require_key": { "type": "boolean" }
                  }
                }
              }
            }
          },
          "400": {
            "description": "`invalid_json`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "401": {
            "description": "`management_token_required`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "403": {
            "description": "`management_token_invalid`, `access_key_required` when the route has no key yet, or `schema_unavailable` when the inbox has no conForm+ plan.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "404": {
            "description": "`route_not_found`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      }
    },
    "/v1/account/insight": {
      "post": {
        "operationId": "accountInsight",
        "summary": "Delivery counters for verified account inboxes",
        "description": "Counts only \u2014 delivered, failed and blocked per inbox-month, alongside the limit that applied. There are no per-submission rows, no timestamps and no field contents anywhere in this path, so the response cannot reconstruct a submission. `delivered` is the reservation count: a failed delivery is rolled back, so it never remains counted. Spam caught by the honeypot is deliberately not tallied \u2014 counting it would mean a storage write per abusive request, which is the amplification the honeypot exists to avoid.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "`Bearer <ACCOUNT_LOOKUP_SECRET>`"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["emails"],
                "properties": {
                  "emails": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": { "type": "string", "format": "email" }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-inbox counters, most recent month first.",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "401": {
            "description": "`account_lookup_unauthorized`.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } }
          }
        }
      }
    },
    "/v1/account/plans": {
      "post": {
        "operationId": "setAccountPlans",
        "summary": "Grant a plan to verified account inboxes",
        "description": "Optional operator interface for a trusted account broker such as the Centrst dashboard. The broker owns identity and billing; it authenticates its user, supplies only addresses it has verified, and authenticates here with the deployment's `ACCOUNT_LOOKUP_SECRET`. The Worker derives the same opaque quota identity it already uses and stores the grant in that inbox's quota object, so the delivery path performs no lookup. No email address is stored. Send `monthly_limit: null` to return an inbox to the deployment default \u2014 that is how a lapsed subscription is expressed, and forms keep delivering on the free allowance rather than breaking.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "`Bearer <ACCOUNT_LOOKUP_SECRET>`"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["grants"],
                "properties": {
                  "grants": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": {
                      "type": "object",
                      "required": ["email", "plan"],
                      "properties": {
                        "email": { "type": "string", "format": "email" },
                        "plan": { "type": "string", "description": "Plan name, e.g. `conform-plus`." },
                        "monthly_limit": {
                          "type": ["integer", "null"],
                          "description": "Submissions per month for this inbox. `null` restores the deployment default."
                        }
                      }
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Plans applied.",
            "content": { "application/json": { "schema": { "type": "object" } } }
          },
          "400": {
            "description": "`invalid_json` or `invalid_email`.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } }
          },
          "401": {
            "description": "`account_lookup_unauthorized`.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } }
          }
        }
      }
    },
    "/v1/account/routes": {
      "post": {
        "operationId": "listAccountRoutes",
        "summary": "List routes for verified account emails",
        "description": "Optional operator interface for a trusted account broker such as the Centrst dashboard. The broker authenticates the user, supplies only email addresses it has verified for that account, and authenticates here with the deployment's `ACCOUNT_LOOKUP_SECRET`. The response contains route metadata only: never destination plaintext, management tokens, webhook secrets, or submission content.",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "`Bearer <ACCOUNT_LOOKUP_SECRET>`"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["emails"],
                "properties": {
                  "emails": {
                    "type": "array",
                    "minItems": 1,
                    "maxItems": 10,
                    "items": { "type": "string", "format": "email" }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Routes whose opaque owner identity matches one of the verified emails.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/AccountRouteList" } }
            }
          },
          "400": {
            "description": "`invalid_json` or `invalid_email`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "401": {
            "description": "`account_lookup_unauthorized`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "503": {
            "description": "`account_lookup_unavailable` when this optional operator interface is not configured.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      }
    },
    "/v1/routes/{formId}/claim": {
      "post": {
        "operationId": "claimRouteForAccountListing",
        "summary": "Index an existing route for account discovery",
        "description": "Adds a route created before account discovery was enabled to its opaque owner index. Requires the route's management token and does not attach an account identifier or store destination plaintext.",
        "parameters": [
          { "$ref": "#/components/parameters/FormId" },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "`Bearer <management_token>`"
          }
        ],
        "responses": {
          "200": {
            "description": "Route indexed.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "status", "form_id"],
                  "properties": {
                    "success": { "const": true },
                    "status": { "const": "indexed" },
                    "form_id": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`management_token_required`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "403": {
            "description": "`management_token_invalid`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "404": {
            "description": "`route_not_found`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      }
    },
    "/v1/routes": {
      "post": {
        "operationId": "createRoute",
        "summary": "Create a form endpoint",
        "description": "Creates a permanent `/f/cfm_…` endpoint that delivers to the given inbox. Aliases are labels, deliberately not unique: posting the same email and alias twice creates two distinct form endpoints. All forms delivering to the same inbox identity share one monthly allowance (`+tags`, Gmail dots, and provider domain aliases count as the same inbox). If the inbox is not yet verified, the response is `202` with `next_action.type = \"human_verification\"` — install the form anyway (the endpoint URL is stable) and poll `status_url` until `status` is `active`. Send an `Idempotency-Key` header to make creation replay-safe: retrying with the same key and body returns the SAME form endpoint (`200`, `replayed: true`, current status) instead of minting a new one; the same key with a different body is rejected with `422 idempotency_key_conflict`. Treat idempotency keys and the returned `management_token` as secrets. A `delivery` property configures signed webhook delivery: `{\"mode\": \"webhook\"|\"both\", \"webhook\": {\"url\": \"https://…\"}}`. Email verification remains the trust root for every mode — the destination inbox must always confirm before any delivery starts, and the verification email discloses the webhook URL. Webhook responses include a one-time `webhook.secret` (`whsec_…`, Standard Webhooks format) for signature validation; deliveries carry `webhook-id`/`webhook-timestamp`/`webhook-signature` headers, and receivers should deduplicate on `webhook-id`. There is NO durable retry queue by design (conForm stores no submission content): `mode: \"webhook\"` delivers synchronously and rolls back quota on failure (`502 webhook_delivery_failed`, safe to retry); `mode: \"both\"` treats email as authoritative and fires the webhook best-effort in the background.",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": { "type": "string", "minLength": 1, "maxLength": 200 },
            "description": "1-200 printable ASCII characters, scoped per destination inbox. Same key + same body → same form endpoint forever."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateRouteRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Idempotent replay: this Idempotency-Key already created a route. The body reflects the route's CURRENT state (`replayed: true`) and re-reveals its `management_token`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/RouteResource" } }
            }
          },
          "201": {
            "description": "The inbox is already verified; the endpoint is active immediately. Includes the route's `management_token` — shown here and on idempotent replays only.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/RouteResource" } }
            }
          },
          "202": {
            "description": "Endpoint reserved; the destination inbox must confirm a verification email before delivery starts. Includes the route's `management_token`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/RouteResource" } }
            }
          },
          "400": {
            "description": "`invalid_json`, `invalid_email`, `invalid_alias`, `invalid_idempotency_key`, or `delivery_config_unsupported`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "422": {
            "description": "`idempotency_key_conflict` — this key was already used with a different request body.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "429": {
            "description": "`rate_limited` — includes `retry_after_seconds`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "503": {
            "description": "`verified_destination_capacity` — this deployment cannot register more verified inboxes.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      }
    },
    "/v1/routes/verify": {
      "get": {
        "operationId": "getVerificationPage",
        "summary": "Human verification page (arbitrary delivery mode only)",
        "description": "Renders the HTML confirmation page linked from the verification email. In the default verified delivery mode this path returns `404` `verification_unavailable` because Cloudflare verifies the inbox directly.",
        "parameters": [
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": { "description": "HTML confirmation page.", "content": { "text/html": {} } },
          "400": {
            "description": "`verification_token_required`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "401": {
            "description": "`verification_token_invalid`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "404": {
            "description": "`verification_unavailable` in verified delivery mode.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      },
      "post": {
        "operationId": "confirmVerification",
        "summary": "Confirm a route (arbitrary delivery mode only)",
        "description": "Consumes the emailed verification token and activates the route. Activating an already-active route succeeds.",
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": { "token": { "type": "string" } },
                "required": ["token"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Route activated.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/RouteResource" } }
            }
          },
          "400": {
            "description": "`verification_token_required`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "401": {
            "description": "`verification_token_invalid`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "404": {
            "description": "`route_not_found`, or `verification_unavailable` in verified delivery mode.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "409": {
            "description": "`verification_mismatch` — the token does not match the stored route.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "410": {
            "description": "`verification_token_expired` — tokens live 24 hours; create the route again.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      }
    },
    "/v1/routes/{formId}": {
      "get": {
        "operationId": "getRouteStatus",
        "summary": "Poll route status",
        "description": "Returns the route's current state and refreshes verification from the delivery provider, so polling this endpoint activates the route as soon as the human confirms. Malformed and unknown form IDs return byte-identical `404` responses by design.",
        "parameters": [{ "$ref": "#/components/parameters/FormId" }],
        "responses": {
          "200": {
            "description": "Current route state, including `next_action`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/RouteResource" } }
            }
          },
          "404": {
            "description": "`route_not_found`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteRoute",
        "summary": "Delete a form endpoint",
        "description": "Hard-deletes the route, destroying its encrypted destination. Requires the route's `management_token` (returned once at creation, re-revealed on idempotent replay) as `Authorization: Bearer <token>`. Use this to clean up misprovisioned routes.",
        "parameters": [
          { "$ref": "#/components/parameters/FormId" },
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": { "type": "string" },
            "description": "`Bearer <management_token>`"
          }
        ],
        "responses": {
          "200": {
            "description": "Route deleted; subsequent status checks return 404.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["success", "status", "form_id"],
                  "properties": {
                    "success": { "const": true },
                    "status": { "const": "deleted" },
                    "form_id": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "`management_token_required`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "403": {
            "description": "`management_token_invalid` — the token is malformed or does not match this route.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "404": {
            "description": "`route_not_found`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      }
    },
    "/f/{formId}": {
      "post": {
        "operationId": "submitForm",
        "summary": "Submit a form",
        "description": "Accepts `application/x-www-form-urlencoded`, `multipart/form-data` (text fields only), or `application/json` (flat object). Reserved field names: `_subject`/`subject` sets the email subject; `_format`/`format` set to `json` attaches `submission.json`; a valid `email` field becomes the reply-to address; `_gotcha` and `botcheck` are spam traps — legitimate clients must never populate them (generated forms include an empty hidden `_gotcha`); `_redirect`/`redirect` set to an absolute `https://` URL returns `303 See Other` to that URL after successful delivery (invalid values are rejected with `invalid_redirect_url`); `_test` marks a test submission: it is delivered for real (subject prefixed `[Test]`, consumes one quota unit) and the response carries `test: true` plus an `echo` of any non-boolean `_test` value — a test response WITHOUT `test: true` means the submission was spam-filtered, so stop populating hidden trap fields; `access_key` carries the route's access key when it has one, and is stripped before delivery; `_dry_run` set to `true`/`1`/`yes`/`on` runs every check and stops before spending anything — no email, no webhook, no quota — and answers with `dry_run: true`, `delivered: false`. A dry run returns the exact error a real submission would for route state, access key and schema, so it is the way to prove a form works without polluting an inbox. The allowance is reported rather than refused: a spent allowance answers `200` with `would_deliver: false`, not a `429`. `quota` and `delivery` are included only when the request carried an accepted `access_key`. Unlike `_test` it is strict about its value: `_dry_run=false` submits for real. A route that has declared a schema refuses submissions that do not match it with `422 submission_invalid` and per-field detail, before spending any quota; a cross-field rule that fires refuses it the same way, naming the rule rather than a field. Requests with `Accept: text/html` (and no `application/json`) receive a minimal HTML result page instead of JSON, so plain HTML forms land on a readable page. Repeated keys collapse into arrays. Retrying after a network timeout may deliver a duplicate email — conForm keeps no submission history, so submissions cannot be deduplicated server-side by design.",
        "parameters": [{ "$ref": "#/components/parameters/FormId" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": { "type": "object", "additionalProperties": true }
            },
            "multipart/form-data": {
              "schema": { "type": "object", "additionalProperties": true }
            },
            "application/json": {
              "schema": { "type": "object", "additionalProperties": true }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission delivered (the send was accepted by the email provider). `used`/`limit` report the shared inbox allowance when a limit is configured; `test`/`echo` appear for `_test` submissions. On a `_dry_run` submission nothing was delivered: the body carries `dry_run: true`, `delivered: false` and `would_deliver`. A caller whose `access_key` was accepted also receives the `delivery` plan and a `quota` reading taken without consuming it; an anonymous caller does not, since the form ID is public and the counters are the owner's business volume. A dry run never redirects and never renders a thank-you page, so a `_dry_run` field shipped into a live form cannot silently swallow real submissions. HTML-accepting clients receive a result page instead.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SubmissionAccepted" }
              },
              "text/html": {}
            }
          },
          "303": {
            "description": "Delivered, redirecting to the submission's `_redirect` URL.",
            "headers": { "Location": { "schema": { "type": "string", "format": "uri" } } }
          },
          "400": {
            "description": "`submission_empty`, `invalid_json`, `invalid_redirect_url`, or `file_uploads_unsupported`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "404": {
            "description": "`route_not_found`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "409": {
            "description": "`inbox_not_verified` — retryable; includes `next_action` with the status URL to poll.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "403": {
            "description": "`access_key_required` or `access_key_invalid`, on a route that enforces one.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "413": {
            "description": "`submission_too_large`, `too_many_fields`, or `field_too_large`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "415": {
            "description": "`unsupported_media_type`.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "422": {
            "description": "`submission_invalid` — the route declared a schema and this submission does not match it. `errors` carries one entry per field that failed, or per cross-field rule that fired. No quota was spent.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "429": {
            "description": "`monthly_allowance_exhausted` (with `used`, `limit`, `resets_at`) or `daily_allowance_exhausted` (with `used`, `limit`, `day`) — the day ceiling is retryable tomorrow.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "502": {
            "description": "`webhook_delivery_failed` (webhook-only routes) — retryable; the quota reservation was rolled back and nothing was delivered. Receivers deduplicate on the `webhook-id` header in case a late first attempt landed.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          },
          "503": {
            "description": "`delivery_failed` — retryable; the quota reservation was rolled back, so nothing was delivered or counted.",
            "content": {
              "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "FormId": {
        "name": "formId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "pattern": "^cfm_[A-HJ-NP-Z2-9]{16}$" },
        "description": "The permanent public form identifier, e.g. cfm_B5DDZ2ANQA4HRWZN."
      },
      "FrameworkParam": {
        "name": "framework",
        "in": "query",
        "required": false,
        "schema": {
          "type": "string",
          "enum": ["html", "js", "react", "vue", "svelte", "astro", "nextjs"],
          "default": "html"
        },
        "description": "Which artifact to generate. Vite and other bundlers use the `js` artifact."
      },
      "RawParam": {
        "name": "raw",
        "in": "query",
        "required": false,
        "schema": { "type": "string", "enum": ["1"] },
        "description": "Return the first file's content as text/plain instead of the JSON envelope."
      }
    },
    "schemas": {
      "FormSchema": {
        "type": "object",
        "description": "A form's declared shape. Without one the endpoint is a relay: it cannot know a form's field names, which are required, or what a plausible value looks like, so it forwards whatever arrives. With one it refuses a submission on its merits rather than on its fingerprints. `fields` constrains one field at a time; `rules` constrains combinations of them.",
        "required": ["fields"],
        "properties": {
          "strict": {
            "type": "boolean",
            "default": true,
            "description": "Refuse fields the schema does not declare. conForm's own `_`-prefixed fields are always exempt."
          },
          "fields": {
            "type": "object",
            "description": "At most 100 fields. Names start with a letter and use letters, digits, \"_\", \".\" or \"-\"; leading underscores are reserved for conForm.",
            "additionalProperties": { "$ref": "#/components/schemas/FieldSpec" }
          },
          "rules": {
            "type": "array",
            "maxItems": 20,
            "description": "Cross-field rules, in declaration order. They run only after every field check has passed, and each one that fires adds a `rule_violated` entry to the `errors` array of a `422 submission_invalid`. An empty array is accepted and stored as no rules at all.",
            "items": { "$ref": "#/components/schemas/FormRule" }
          }
        }
      },
      "FieldSpec": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "default": "text",
            "description": "`integer` is exact to \u00b19007199254740991: a longer run of digits is refused as `invalid_integer`, because past that a decimal string and the number it becomes are different values and no range check or rule could be trusted. Use `text` with a `pattern` for long identifiers. `datetime` values are compared as instants by a rule; `date` and `time` as text, which is correct for the ISO forms an HTML input produces.",
            "enum": [
              "text",
              "email",
              "tel",
              "url",
              "integer",
              "number",
              "date",
              "time",
              "datetime",
              "boolean",
              "choice"
            ]
          },
          "required": {
            "type": "boolean",
            "description": "An empty value counts as absent. A browser omits a disabled input entirely, so a required field arriving as an empty string is a sender that built the body from the page source rather than from the form."
          },
          "multiple": {
            "type": "boolean",
            "description": "Allow a repeated field, as a checkbox group or multi-select sends."
          },
          "min": {
            "type": "number",
            "description": "Numeric bound. Applies to `integer` and `number` fields only \u2014 declaring it on any other type is `invalid_schema`, because it was silently ignored there. Use `min_length`/`max_length` to bound text."
          },
          "max": { "type": "number", "description": "Numeric bound. `integer` and `number` fields only." },
          "min_length": { "type": "integer" },
          "max_length": { "type": "integer" },
          "pattern": {
            "type": "string",
            "maxLength": 200,
            "description": "Regular expression, compiled with the `u` flag and tested against values up to 4096 characters."
          },
          "options": {
            "type": "array",
            "maxItems": 100,
            "items": { "type": "string" },
            "description": "Required for a `choice` field; permitted on any type."
          }
        }
      },
      "FormRule": {
        "type": "object",
        "description": "A constraint across fields — an occupancy cap, a date order, a field required only when another is filled in. Conditional requirement is a rule rather than a second construct.",
        "required": ["when", "reject"],
        "properties": {
          "when": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "description": "A true/false expression; the rule fires when it is true. The language is field names, number and string literals, `+ - * /`, `> >= < <= == !=`, `&& || !`, parentheses, and one function, `present(field)` \u2014 no string manipulation, regular expressions, loops, property access, user-defined functions, or `true`/`false` literals, and comparisons do not chain. It is parsed to a tree and interpreted; nothing is ever compiled into code. Everything is checked when the schema is set: syntax, the limits, that every identifier is a declared field, and the type of every operand \u2014 a bad expression is `400 invalid_schema` naming it as `rules[N]`, the same index a violation carries, never a surprise at submission time. A rule that could never fire is refused too: a condition that reads no field, a blank string literal (blank counts as absent), and `present(x)` on a field already declared `required` \u2014 make the field optional if the rule is what requires it. Values take the type their field declares: numeric fields compare as numbers, a `datetime` as an instant (so a re-spelled value cannot change the answer), and `date`, `time`, `choice` and text as text, exactly and case-sensitively (a `time` is padded to `hh:mm:ss` on both sides, since a browser sends either form). Comparing a `date`, `time` or `datetime` against a literal that is not written the same way is refused at declaration rather than answered `false` forever. A field declared `multiple` may only appear inside `present()`. Absence: a missing or blank field counts as 0 in arithmetic and makes any comparison false, `!=` included \u2014 so a bare comparison never fires on a value nobody sent, and `present()` is how absence is stated. Arithmetic is never absent, so `children + 0 == 0` is true when `children` is blank. Depth is measured over the whole expression (a flat chain of `&&` counts), so 20 levels, not 20 parentheses.",
            "examples": ["adults + children > 6", "present(check_in) && !present(check_out)"]
          },
          "reject": {
            "type": "string",
            "minLength": 1,
            "maxLength": 200,
            "description": "The message the submitter is given when this rule fires."
          }
        }
      },
      "FieldError": {
        "type": "object",
        "required": ["field", "code", "message"],
        "properties": {
          "field": { "type": "string" },
          "code": {
            "type": "string",
            "description": "One of: required, unknown_field, too_many_values, not_an_option, too_short, too_long, below_minimum, above_maximum, pattern_mismatch, invalid_email, invalid_tel, invalid_url, invalid_integer, invalid_number, invalid_date, invalid_time, invalid_datetime, invalid_boolean."
          },
          "message": { "type": "string" }
        }
      },
      "RuleError": {
        "type": "object",
        "description": "A cross-field rule that fired. It carries no `field`: a rule spans fields, which is the whole reason it exists.",
        "required": ["rule", "code", "message"],
        "properties": {
          "rule": {
            "type": "integer",
            "description": "Index into `schema.rules`, which `GET /v1/routes/{formId}` publishes."
          },
          "code": { "type": "string", "const": "rule_violated" },
          "message": {
            "type": "string",
            "description": "The rule's `reject` text, as the form's owner wrote it \u2014 arbitrary text from the route's owner, so escape it before rendering it into a page."
          }
        }
      },
      "AccessKey": {
        "type": "object",
        "required": ["key_id", "state", "created_at"],
        "properties": {
          "key_id": {
            "type": "string",
            "description": "Public label. Names a key in a listing without revealing it."
          },
          "state": { "type": "string", "enum": ["current", "previous"] },
          "created_at": { "type": "string", "format": "date-time" },
          "first_used_at": {
            "type": "string",
            "format": "date-time",
            "description": "Set the first time this key was accepted on a submission. Its arrival is what retires the keys it superseded."
          }
        }
      },
      "ErrorCode": {
        "type": "string",
        "description": "Stable machine-readable failure codes currently emitted at runtime. The full table, including planned codes, is in x-conform-error-codes at the document root.",
        "enum": [
          "invalid_json",
          "invalid_email",
          "invalid_alias",
          "invalid_idempotency_key",
          "idempotency_key_conflict",
          "delivery_config_unsupported",
          "invalid_webhook_url",
          "invalid_redirect_url",
          "unknown_framework",
          "rate_limited",
          "verified_destination_capacity",
          "route_not_found",
          "placeholder_endpoint",
          "verification_token_required",
          "verification_token_invalid",
          "verification_token_expired",
          "verification_mismatch",
          "verification_unavailable",
          "management_token_required",
          "management_token_invalid",
          "rotation_token_required",
          "rotation_token_invalid",
          "account_lookup_unauthorized",
          "account_lookup_unavailable",
          "submission_empty",
          "submission_invalid",
          "invalid_schema",
          "schema_unavailable",
          "too_many_fields",
          "field_too_large",
          "submission_too_large",
          "unsupported_media_type",
          "file_uploads_unsupported",
          "inbox_not_verified",
          "access_key_required",
          "access_key_invalid",
          "monthly_allowance_exhausted",
          "daily_allowance_exhausted",
          "delivery_failed",
          "webhook_delivery_failed",
          "method_not_allowed",
          "not_found",
          "config_incomplete",
          "internal_error"
        ]
      },
      "ErrorEnvelope": {
        "type": "object",
        "description": "Every non-2xx response uses this envelope. `retryable: true` means the identical request may succeed later; specific codes add fields such as `retry_after_seconds`, `used`, `limit`, `resets_at`, or `next_action`.",
        "required": ["success", "error", "message", "retryable"],
        "properties": {
          "success": { "const": false },
          "error": { "$ref": "#/components/schemas/ErrorCode" },
          "message": { "type": "string", "description": "Human-readable explanation." },
          "retryable": { "type": "boolean" },
          "retry_after_seconds": { "type": "integer" },
          "used": { "type": "integer" },
          "limit": { "type": "integer" },
          "resets_at": { "type": "string", "format": "date-time" },
          "next_action": { "$ref": "#/components/schemas/NextAction" },
          "errors": {
            "type": "array",
            "description": "Detail on `submission_invalid`: one entry per field that failed, or per cross-field rule that fired. Returned to every caller: a form's shape is derivable from the page it is installed on, so withholding detail protects nothing and leaves real integrators debugging blind.",
            "items": {
              "oneOf": [
                { "$ref": "#/components/schemas/FieldError" },
                { "$ref": "#/components/schemas/RuleError" }
              ]
            }
          }
        },
        "additionalProperties": true
      },
      "NextAction": {
        "description": "Tells a client exactly what to do next.",
        "oneOf": [
          {
            "type": "object",
            "required": ["type"],
            "properties": { "type": { "const": "none" } },
            "additionalProperties": false
          },
          {
            "type": "object",
            "required": ["type", "message", "poll"],
            "properties": {
              "type": { "const": "human_verification" },
              "message": { "type": "string" },
              "poll": {
                "type": "object",
                "required": ["url", "interval_seconds"],
                "properties": {
                  "url": { "type": "string", "format": "uri" },
                  "interval_seconds": { "type": "integer" }
                }
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "CreateRouteRequest": {
        "type": "object",
        "required": ["email", "alias"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "description": "Destination inbox. Never stored in plaintext; encrypted at rest."
          },
          "alias": {
            "type": "string",
            "minLength": 1,
            "maxLength": 120,
            "description": "Human label for this form, e.g. \"Contact\". Not unique. `formName` and `form_name` are accepted aliases for this property."
          },
          "delivery": {
            "type": "object",
            "description": "Optional webhook delivery configuration. Email verification remains required in every mode.",
            "properties": {
              "mode": { "type": "string", "enum": ["email", "webhook", "both"], "default": "email" },
              "webhook": {
                "type": "object",
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Public https:// receiver. Required for webhook and both modes; rejected for IP literals and internal hostnames."
                  }
                },
                "required": ["url"]
              }
            },
            "additionalProperties": true
          },
          "schema": {
            "$ref": "#/components/schemas/FormSchema",
            "description": "Optional declared shape, including any cross-field `rules`. Submissions that do not match are refused with `422 submission_invalid` and per-field or per-rule detail, before any quota is spent. Requires conForm+ on the destination inbox."
          }
        },
        "additionalProperties": true
      },
      "RouteResource": {
        "type": "object",
        "required": [
          "success",
          "status",
          "form_id",
          "alias",
          "endpoint",
          "status_url",
          "message",
          "next_action"
        ],
        "properties": {
          "success": { "const": true },
          "status": { "type": "string", "enum": ["active", "pending_verification"] },
          "form_id": { "type": "string", "pattern": "^cfm_[A-HJ-NP-Z2-9]{16}$" },
          "alias": { "type": "string" },
          "endpoint": {
            "type": "string",
            "format": "uri",
            "description": "Permanent submission URL — stable even while verification is pending."
          },
          "status_url": { "type": "string", "format": "uri" },
          "created_at": { "type": "string", "format": "date-time" },
          "verification_expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "Arbitrary delivery mode only: when the emailed verification token expires."
          },
          "management_token": {
            "type": "string",
            "description": "Bearer credential for DELETE. Returned at creation and on idempotent replay only — treat as a secret and store it."
          },
          "rotation_token": {
            "type": "string",
            "description": "Bearer credential for minting access keys, and nothing else. Returned at creation and on idempotent replay. Safe in a CI secret, unlike `management_token`, which can delete the route and its inbox binding."
          },
          "requires_access_key": {
            "type": "boolean",
            "description": "The route refuses submissions that do not carry a recognised `access_key`."
          },
          "schema": {
            "$ref": "#/components/schemas/FormSchema",
            "description": "Present when the form has declared a shape. Published deliberately: it is derivable from the page the form is installed on, and an agent that reads it builds a submission that passes first time."
          },
          "webhook": {
            "type": "object",
            "description": "Present when webhook delivery is configured: the signing secret, returned at creation and on idempotent replay. Treat as a secret.",
            "properties": {
              "secret": { "type": "string", "description": "whsec_… Standard Webhooks signing secret." }
            },
            "required": ["secret"]
          },
          "replayed": {
            "type": "boolean",
            "description": "True when this response is an idempotent replay reflecting the route's current state."
          },
          "message": { "type": "string" },
          "next_action": { "$ref": "#/components/schemas/NextAction" },
          "requires_access_key": {
            "type": "boolean",
            "description": "Present on the status response. True when this route refuses submissions that carry no recognised access key."
          },
          "schema": {
            "$ref": "#/components/schemas/FormSchema",
            "description": "Present on the status response when the route has declared a shape. Published deliberately: an agent that can read the shape builds a submission that passes first time, and the `rule` index in a `rule_violated` error resolves against `schema.rules`."
          }
        },
        "additionalProperties": false
      },
      "AccountRouteList": {
        "type": "object",
        "required": ["success", "routes"],
        "properties": {
          "success": { "const": true },
          "routes": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["form_id", "alias", "status", "endpoint", "status_url", "created_at"],
              "properties": {
                "form_id": { "type": "string", "pattern": "^cfm_[A-HJ-NP-Z2-9]{16}$" },
                "alias": { "type": "string" },
                "status": { "type": "string", "enum": ["active", "pending_verification"] },
                "endpoint": { "type": "string", "format": "uri" },
                "status_url": { "type": "string", "format": "uri" },
                "created_at": { "type": "string", "format": "date-time" }
              },
              "additionalProperties": false
            }
          }
        },
        "additionalProperties": false
      },
      "SubmissionAccepted": {
        "type": "object",
        "required": ["success", "message"],
        "properties": {
          "success": { "const": true },
          "message": { "type": "string" },
          "test": {
            "type": "boolean",
            "description": "True for delivered `_test` submissions. Absent on a test request means it was spam-filtered."
          },
          "echo": {
            "type": ["string", "null"],
            "description": "The non-boolean `_test` value, echoed back as machine-checkable proof."
          },
          "delivery": {
            "type": "object",
            "description": "Per-channel delivery report, e.g. {\"email\": \"delivered\"} or {\"email\": \"delivered\", \"webhook\": \"queued\"}.",
            "additionalProperties": { "type": "string" }
          },
          "used": { "type": "integer", "description": "Present when a monthly limit is configured." },
          "limit": { "type": "integer", "description": "Present when a monthly limit is configured." }
        },
        "additionalProperties": true
      },
      "InstallArtifact": {
        "type": "object",
        "required": ["success", "framework", "files", "notes", "dry_run_command", "test_command"],
        "properties": {
          "success": { "const": true },
          "framework": { "type": "string" },
          "files": {
            "type": "array",
            "items": {
              "type": "object",
              "required": ["path", "content"],
              "properties": {
                "path": { "type": "string" },
                "content": { "type": "string" }
              }
            }
          },
          "notes": { "type": "array", "items": { "type": "string" } },
          "dry_run_command": {
            "type": "string",
            "description": "Proves the install without sending anything: every check runs, no email, no webhook, no quota."
          },
          "requires_access_key": {
            "type": "boolean",
            "description": "The route refuses submissions that do not carry a recognised `access_key`."
          },
          "test_command": {
            "type": "string",
            "description": "curl command that sends a _test-marked submission."
          },
          "form_id": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "pending_verification"] },
          "next_action": { "$ref": "#/components/schemas/NextAction" }
        },
        "additionalProperties": false
      },
      "Discovery": {
        "type": "object",
        "description": "Deployment self-description served at / and /health.",
        "required": ["name", "api_version", "version", "source", "delivery_mode", "persistence"],
        "properties": {
          "name": { "const": "conform-cf-worker" },
          "api_version": { "type": "string" },
          "version": { "type": "string", "description": "Source commit of the running Worker." },
          "source": { "type": "string", "format": "uri" },
          "openapi_url": { "type": "string", "format": "uri" },
          "delivery_mode": { "type": "string", "enum": ["verified", "arbitrary"] },
          "persistence": {
            "type": "object",
            "description": "Exactly what this deployment stores. Submission fields are never persisted."
          }
        },
        "additionalProperties": true
      }
    }
  },
  "x-conform-error-codes": {
    "invalid_json": { "status": 400, "retryable": false },
    "invalid_email": { "status": 400, "retryable": false },
    "invalid_alias": { "status": 400, "retryable": false },
    "invalid_idempotency_key": { "status": 400, "retryable": false },
    "idempotency_key_conflict": { "status": 422, "retryable": false },
    "delivery_config_unsupported": { "status": 400, "retryable": false },
    "invalid_webhook_url": { "status": 400, "retryable": false },
    "invalid_redirect_url": { "status": 400, "retryable": false },
    "unknown_framework": { "status": 400, "retryable": false },
    "rate_limited": { "status": 429, "retryable": true },
    "verified_destination_capacity": { "status": 503, "retryable": false },
    "route_not_found": { "status": 404, "retryable": false },
    "placeholder_endpoint": { "status": 404, "retryable": false },
    "verification_token_required": { "status": 400, "retryable": false },
    "verification_token_invalid": { "status": 401, "retryable": false },
    "verification_token_expired": { "status": 410, "retryable": false },
    "verification_mismatch": { "status": 409, "retryable": false },
    "verification_unavailable": { "status": 404, "retryable": false },
    "management_token_required": { "status": 401, "retryable": false },
    "management_token_invalid": { "status": 403, "retryable": false },
    "rotation_token_required": { "status": 401, "retryable": false },
    "rotation_token_invalid": { "status": 403, "retryable": false },
    "account_lookup_unauthorized": { "status": 401, "retryable": false },
    "account_lookup_unavailable": { "status": 503, "retryable": false },
    "submission_empty": { "status": 400, "retryable": false },
    "submission_invalid": { "status": 422, "retryable": false },
    "invalid_schema": { "status": 400, "retryable": false },
    "schema_unavailable": { "status": 403, "retryable": false },
    "too_many_fields": { "status": 413, "retryable": false },
    "field_too_large": { "status": 413, "retryable": false },
    "submission_too_large": { "status": 413, "retryable": false },
    "unsupported_media_type": { "status": 415, "retryable": false },
    "file_uploads_unsupported": { "status": 400, "retryable": false },
    "inbox_not_verified": { "status": 409, "retryable": true },
    "access_key_required": { "status": 403, "retryable": false },
    "access_key_invalid": { "status": 403, "retryable": false },
    "monthly_allowance_exhausted": { "status": 429, "retryable": false },
    "daily_allowance_exhausted": { "status": 429, "retryable": true },
    "delivery_failed": { "status": 503, "retryable": true },
    "webhook_delivery_failed": { "status": 502, "retryable": true },
    "method_not_allowed": { "status": 405, "retryable": false },
    "not_found": { "status": 404, "retryable": false },
    "config_incomplete": { "status": 500, "retryable": false },
    "internal_error": { "status": 500, "retryable": true }
  }
}
